<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <title>@marko/run - Node Express</title>
    <link href='/dist/output.css' rel='stylesheet'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta name='description' content='An example application showcasing Vite & Marko.'>
  </head>
  <body class='bg-white dark:bg-black min-h-screen font-display'>
    <nav class='dark:bg-black sticky top-0 z-10 flex w-full flex-col items-center backdrop-blur-xl backdrop-filter'>
      <div class='flex w-full max-w-[90vw] flex-row items-center justify-between sm:px-10 lg:max-w-[75vw]'>
        <Header />
      </div>
    </nav>
    <${input.renderBody}/>
  </body>
</html>
